.logoTitle{
    color: var( --text-color);
    font-size: 3.2rem;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 2rem;
    margin-right: 1rem;
}

.logoBox {
 display: flex;
 flex-direction: column;
 align-items: center;
}
