.registerButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.registerSub {
  border-style: none;
  color: #FCFCFC;
  width: 11.9rem;
  height: 4.6rem;
  border-radius: 3.2rem;
  background: var(--sc-btn-color);
  font-weight: 600;
}
