.container {
  position: absolute;
  top: 280px;
  left: 140px;
}

.logoPolygon {
  width: 100px;
  height: 100px;
  animation-name: scaleUpAndDownPolygon;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.logoContainer {
  position: relative;
}

.logoContainer img {
  position: absolute;
  top: 12px;
  left: 4px;
}

.logoContainer svg {
  position: absolute;
  left: 0;
}

@keyframes scaleUpAndDownPolygon {
  0% {
    transform: scale(0.8) translate(0vh, -5vh);

  }

  50% {
    transform: scale(0) translate(0vh, -5vh);

  }

  100% {
    transform: scale(0.8) translate(0vh, -5vh);
  }

}
