.inputStyle {
    width: 28.5rem;
    height: 3.8rem;
    border-radius: 2.4rem;
    border: 0.1rem solid var(--sc-btn-color);
    padding: 1rem;
    resize: none;
    overflow: visible;
    cursor: pointer;
    background-color: transparent;
    color: var(--text-color);
}

.inputStyle::placeholder {
    text-align: center;
    color: var(--sc-text-color);
}

.inputError {
    border: 2px solid red;
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-5px, 0); }
    50% { transform: translate(5px, 0); }
    75% { transform: translate(-5px, 0); }
    100% { transform: translate(0, 0); }
}

#myTextArea {
    user-select: text;
    -moz-user-select: text;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.inputStyle::-webkit-scrollbar {
    display: none;
}