.container{
    margin: 3.4rem 2.6rem 0 2.6rem;
}

.container.isLoading {
    height: 100vh;
    margin: 0;
}

.cards {
    margin-top: 6.4rem;
    padding-bottom: 12rem;
}

.addButton{
    position: fixed;
    bottom: 14%;
    right: 8%;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
}