.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--card-color);
  border-radius: 2.4rem;
  box-shadow: var(--box-shadow-card);
  text-decoration: none;
  text-align: center;
  height: 17rem;
}

.title {
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
  color: var(--text-color);
  font-weight: 600;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0 1rem .5rem;
}

.photo{
  width: 60%;
  height: 10rem;
  overflow: hidden;
  margin-top: 2rem;
  position: relative; 
}

.photo img {
  position: absolute;
  bottom: 2%;
  right: 20%;
  width: 60%;
  padding-top: 2rem;
}
