.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.6rem 4.4rem;
    box-shadow: 6px 6px 12px 3px rgba(128, 131, 138, 0.829);
}

.button {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    box-shadow: var(--box-shadow-btn);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
}