.loginFormEmailBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.loginFormEmail {
  padding: 1rem;
  width: 18.5rem;
  height: 3.8rem;
  border-radius: 2.4rem;
  border: 0.1rem solid var(--sc-btn-color);
  background: var(--btn-color);
  background-color: transparent;
  color: var(--text-color);
}

.loginFormEmail::placeholder {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
}

.inputError {
  padding-left: 1rem;
  width: 18.5rem;
  height: 3.8rem;
  border-radius: 2.4rem;
  background: var(--btn-color);
  background-color: transparent;
  color: var(--text-color);
  border: 2px solid red;
  animation: shake 0.5s;
}

.inputError::placeholder{
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
}

@keyframes shake {
  0% { transform: translate(0, 0); }
  25% { transform: translate(-5px, 0); }
  50% { transform: translate(5px, 0); }
  75% { transform: translate(-5px, 0); }
  100% { transform: translate(0, 0); }
}